---
http_interactions:
- request:
    method: get
    uri: https://api.pokemontcg.io/v2/cards/xy1-1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"42b3d547cee8ef3330f23a5c644f3e98"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"xy1-1","name":"Venusaur-EX","supertype":"Pokémon","subtypes":["Basic","EX"],"hp":"180","types":["Grass"],"evolvesTo":["M
        Venusaur-EX"],"rules":["Pokémon-EX rule: When a Pokémon-EX has been Knocked
        Out, your opponent takes 2 Prize cards."],"attacks":[{"name":"Poison Powder","cost":["Grass","Colorless","Colorless"],"convertedEnergyCost":3,"damage":"60","text":"Your
        opponent''s Active Pokémon is now Poisoned."},{"name":"Jungle Hammer","cost":["Grass","Grass","Colorless","Colorless"],"convertedEnergyCost":4,"damage":"90","text":"Heal
        30 damage from this Pokémon."}],"weaknesses":[{"type":"Fire","value":"×2"}],"retreatCost":["Colorless","Colorless","Colorless","Colorless"],"convertedRetreatCost":4,"set":{"id":"xy1","name":"XY","series":"XY","printedTotal":146,"total":146,"legalities":{"unlimited":"Legal","expanded":"Legal"},"ptcgoCode":"XY","releaseDate":"2014/02/05","updatedAt":"2018/03/04
        10:35:00","images":{"symbol":"https://images.pokemontcg.io/xy1/symbol.png","logo":"https://images.pokemontcg.io/xy1/logo.png"}},"number":"1","artist":"Eske
        Yoshinob","rarity":"Rare Holo EX","nationalPokedexNumbers":[3],"legalities":{"unlimited":"Legal","expanded":"Legal"},"images":{"small":"https://images.pokemontcg.io/xy1/1.png","large":"https://images.pokemontcg.io/xy1/1_hires.png"},"tcgplayer":{"url":"https://prices.pokemontcg.io/tcgplayer/xy1-1","updatedAt":"2023/05/01","prices":{"holofoil":{"low":2.48,"mid":3.99,"high":42.35,"market":3.66,"directLow":null}}},"cardmarket":{"url":"https://prices.pokemontcg.io/cardmarket/xy1-1","updatedAt":"2023/05/01","prices":{"averageSellPrice":6.25,"lowPrice":2.46,"trendPrice":5.62,"germanProLow":0.0,"suggestedPrice":0.0,"reverseHoloSell":0.0,"reverseHoloLow":0.0,"reverseHoloTrend":4.37,"lowPriceExPlus":3.5,"avg1":5.0,"avg7":6.64,"avg30":5.28,"reverseHoloAvg1":3.99,"reverseHoloAvg7":4.56,"reverseHoloAvg30":4.47}}}}'
  recorded_at: Tue, 02 May 2023 03:46:22 GMT
recorded_with: VCR 6.1.0
