---
http_interactions:
- request:
    method: get
    uri: https://api.pokemontcg.io/v2/cards/?q=name:wurmple*
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e294cd6a41c8e19b7b6338ade7b426da"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"bw6-6","name":"Wurmple","supertype":"Pokémon","subtypes":["Basic"],"hp":"60","types":["Grass"],"evolvesTo":["Silcoon","Cascoon"],"attacks":[{"name":"Sleep
        Poison","cost":["Colorless"],"convertedEnergyCost":1,"damage":"","text":"Flip
        a coin. If heads, the Defending Pokémon is now Asleep and Poisoned."}],"weaknesses":[{"type":"Fire","value":"×2"}],"retreatCost":["Colorless"],"convertedRetreatCost":1,"set":{"id":"bw6","name":"Dragons
        Exalted","series":"Black & White","printedTotal":124,"total":128,"legalities":{"unlimited":"Legal","expanded":"Legal"},"ptcgoCode":"DRX","releaseDate":"2012/08/15","updatedAt":"2018/03/04
        10:35:00","images":{"symbol":"https://images.pokemontcg.io/bw6/symbol.png","logo":"https://images.pokemontcg.io/bw6/logo.png"}},"number":"6","artist":"Kouki
        Saitou","rarity":"Common","flavorText":"Often targeted by bird Pokémon, it
        desperately resists by releasing poison from its tail spikes.","nationalPokedexNumbers":[265],"legalities":{"unlimited":"Legal","expanded":"Legal"},"images":{"small":"https://images.pokemontcg.io/bw6/6.png","large":"https://images.pokemontcg.io/bw6/6_hires.png"},"tcgplayer":{"url":"https://prices.pokemontcg.io/tcgplayer/bw6-6","updatedAt":"2023/05/01","prices":{"normal":{"low":0.1,"mid":0.25,"high":2.79,"market":0.22,"directLow":0.2},"reverseHolofoil":{"low":0.41,"mid":0.5,"high":1.0,"market":0.44,"directLow":null}}},"cardmarket":{"url":"https://prices.pokemontcg.io/cardmarket/bw6-6","updatedAt":"2023/05/01","prices":{"averageSellPrice":0.1,"lowPrice":0.02,"trendPrice":0.07,"germanProLow":0.0,"suggestedPrice":0.0,"reverseHoloSell":0.0,"reverseHoloLow":0.29,"reverseHoloTrend":0.83,"lowPriceExPlus":0.02,"avg1":0.1,"avg7":0.1,"avg30":0.09,"reverseHoloAvg1":0.44,"reverseHoloAvg7":0.95,"reverseHoloAvg30":0.43}}},{"id":"xy6-3","name":"Wurmple","supertype":"Pokémon","subtypes":["Basic"],"hp":"60","types":["Grass"],"evolvesTo":["Silcoon","Cascoon"],"attacks":[{"name":"Flock","cost":["Grass"],"convertedEnergyCost":1,"damage":"","text":"Search
        your deck for Wurmple and put it onto your Bench. Shuffle your deck afterward."},{"name":"Tackle","cost":["Colorless","Colorless"],"convertedEnergyCost":2,"damage":"20","text":""}],"weaknesses":[{"type":"Fire","value":"×2"}],"retreatCost":["Colorless"],[...]
