---
http_interactions:
- request:
    method: get
    uri: https://api.pokemontcg.io/v2/cards/?q=set.name:expedition
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b500d1ae6d551682f29670062d016991"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"ecard1-1","name":"Alakazam","supertype":"Pokémon","subtypes":["Stage
        2"],"hp":"100","types":["Psychic"],"evolvesFrom":"Kadabra","abilities":[{"name":"Psymimic","text":"Once
        during your turn, instead of Alakazam''s normal attack, you may choose 1 of
        your opponent''s Pokémon''s attacks. Alakazam copies that attack including
        its Energy costs and anything else required in order to use that attack, such
        as discarding Energy cards. (No matter what type that Pokémon is, Alakazam''s
        type is still Psychic.) This power can''t be used if Alakazam is affected
        by a Special Condition.","type":"Poké-Power"}],"attacks":[{"name":"Syncroblast","cost":["Psychic","Colorless","Colorless"],"convertedEnergyCost":3,"damage":"80","text":"If
        Alakazam and the Defending Pokémon don''t have the same number of Energy cards
        attached to them, this attack''s base damage is 20 instead of 80."}],"weaknesses":[{"type":"Psychic","value":"×2"}],"retreatCost":["Colorless","Colorless"],"convertedRetreatCost":2,"set":{"id":"ecard1","name":"Expedition
        Base Set","series":"E-Card","printedTotal":165,"total":165,"legalities":{"unlimited":"Legal"},"ptcgoCode":"EX","releaseDate":"2002/09/15","updatedAt":"2022/10/10
        15:12:00","images":{"symbol":"https://images.pokemontcg.io/ecard1/symbol.png","logo":"https://images.pokemontcg.io/ecard1/logo.png"}},"number":"1","artist":"Hajime
        Kusajima","rarity":"Rare Holo","nationalPokedexNumbers":[65],"legalities":{"unlimited":"Legal"},"images":{"small":"https://images.pokemontcg.io/ecard1/1.png","large":"https://images.pokemontcg.io/ecard1/1_hires.png"},"tcgplayer":{"url":"https://prices.pokemontcg.io/tcgplayer/ecard1-1","updatedAt":"2023/05/08","prices":{"holofoil":{"low":95.1,"mid":116.24,"high":137.05,"market":75.27,"directLow":null},"reverseHolofoil":{"low":29.95,"mid":35.49,"high":69.99,"market":50.49,"directLow":null}}},"cardmarket":{"url":"https://prices.pokemontcg.io/cardmarket/ecard1-1","updatedAt":"2023/05/08","prices":{"averageSellPrice":43.0,"lowPrice":8.0,"trendPrice":27.3,"germanProLow":0.0,"suggestedPrice":0.0,"reverseHoloSell":0.0,"reverseHoloLow":18.95,"reverseHoloTrend":20.62,"lowPriceExPlus":34.9,"avg1":43.0,"avg7":20.55,"avg30":19.99,"reverseHoloAvg1":35.0,"reverseHoloAvg7":17.57,"reverseHoloAvg30":17.57}}},{"id":"ecard1-2","name":"Ampharos","supertype":"Pokémon","subtypes":["Stage
        2"],"hp":"100","types":["Lightning"],"evolvesFrom":"Flaaffy","abilities":[{"name":"Energy
        Connect","text":"As often as you like during your turn (before your attack),
        you may take a basic Energy card attached to 1 of your Benched Pokémon and
        attach it to your Active Pokémon. This power can''t be used if Ampharos is
        affected by a Special Condition.","type":"Poké-Power"}],"a[...]
