---
http_interactions:
- request:
    method: get
    uri: https://api.pokemontcg.io/v2/cards/550
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":{"message":"The requested resource was not found.","code":404}}'
  recorded_at: Tue, 02 May 2023 04:27:04 GMT
- request:
    method: get
    uri: https://api.pokemontcg.io/v2/cards/base4-1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"701c51a86cda2956b31b4dbd7c9faf05"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"base4-1","name":"Alakazam","supertype":"Pokémon","subtypes":["Stage
        2"],"level":"42","hp":"80","types":["Psychic"],"evolvesFrom":"Kadabra","abilities":[{"name":"Damage
        Swap","text":"As often as you like during your turn (before your attack),
        you may move 1 damage counter from 1 of your Pokémon to another as long as
        you don''t Knock Out that Pokémon. This power can''t be used if Alakazam is
        Asleep, Confused, or Paralyzed.","type":"Pokémon Power"}],"attacks":[{"name":"Confuse
        Ray","cost":["Psychic","Psychic","Psychic"],"convertedEnergyCost":3,"damage":"30","text":"Flip
        a coin. If heads, the Defending Pokémon is now Confused."}],"weaknesses":[{"type":"Psychic","value":"×2"}],"retreatCost":["Colorless","Colorless","Colorless"],"convertedRetreatCost":3,"set":{"id":"base4","name":"Base
        Set 2","series":"Base","printedTotal":130,"total":130,"legalities":{"unlimited":"Legal"},"ptcgoCode":"B2","releaseDate":"2000/02/24","updatedAt":"2022/10/10
        15:12:00","images":{"symbol":"https://images.pokemontcg.io/base4/symbol.png","logo":"https://images.pokemontcg.io/base4/logo.png"}},"number":"1","artist":"Ken
        Sugimori","rarity":"Rare Holo","flavorText":"Its brain can outperform a supercomputer.
        Its intelligence quotient is said to be 5000.","nationalPokedexNumbers":[65],"legalities":{"unlimited":"Legal"},"images":{"small":"https://images.pokemontcg.io/base4/1.png","large":"https://images.pokemontcg.io/base4/1_hires.png"},"tcgplayer":{"url":"https://prices.pokemontcg.io/tcgplayer/base4-1","updatedAt":"2023/05/01","prices":{"holofoil":{"low":16.0,"mid":23.25,"high":159.99,"market":24.23,"directLow":12.54}}},"cardmarket":{"url":"https://prices.pokemontcg.io/cardmarket/base4-1","updatedAt":"2023/05/01","prices":{"averageSellPrice":24.87,"lowPrice":6.0,"trendPrice":21.54,"germanProLow":0.0,"suggestedPrice":0.0,"reverseHoloSell":0.0,"reverseHoloLow":0.0,"reverseHoloTrend":22.63,"lowPriceExPlus":22.0,"avg1":11.12,"avg7":18.4,"avg30":22.81,"reverseHoloAvg1":19.95,"reverseHoloAvg7":22.81,"reverseHoloAvg30":21.3}}}}'
  recorded_at: Tue, 02 May 2023 04:37:21 GMT
recorded_with: VCR 6.1.0
