---
http_interactions:
- request:
    method: get
    uri: https://api.pokemontcg.io/v2/cards/base1-44
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"69ef30f684a7c7e641449d200a1e2857"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"base1-44","name":"Bulbasaur","supertype":"Pokémon","subtypes":["Basic"],"level":"13","hp":"40","types":["Grass"],"evolvesTo":["Ivysaur"],"attacks":[{"name":"Leech
        Seed","cost":["Grass","Grass"],"convertedEnergyCost":2,"damage":"20","text":"Unless
        all damage from this attack is prevented, you may remove 1 damage counter
        from Bulbasaur."}],"weaknesses":[{"type":"Fire","value":"×2"}],"retreatCost":["Colorless"],"convertedRetreatCost":1,"set":{"id":"base1","name":"Base","series":"Base","printedTotal":102,"total":102,"legalities":{"unlimited":"Legal"},"ptcgoCode":"BS","releaseDate":"1999/01/09","updatedAt":"2022/10/10
        15:12:00","images":{"symbol":"https://images.pokemontcg.io/base1/symbol.png","logo":"https://images.pokemontcg.io/base1/logo.png"}},"number":"44","artist":"Mitsuhiro
        Arita","rarity":"Common","flavorText":"A strange seed was planted on its back
        at birth. Thus, a plant sprouted and now grows with this Pokémon.","nationalPokedexNumbers":[1],"legalities":{"unlimited":"Legal"},"images":{"small":"https://images.pokemontcg.io/base1/44.png","large":"https://images.pokemontcg.io/base1/44_hires.png"},"tcgplayer":{"url":"https://prices.pokemontcg.io/tcgplayer/base1-44","updatedAt":"2023/05/08","prices":{"normal":{"low":0.4,"mid":2.0,"high":20.0,"market":2.05,"directLow":2.98}}},"cardmarket":{"url":"https://prices.pokemontcg.io/cardmarket/base1-44","updatedAt":"2023/05/08","prices":{"averageSellPrice":4.82,"lowPrice":2.0,"trendPrice":13.67,"germanProLow":0.0,"suggestedPrice":0.0,"reverseHoloSell":0.0,"reverseHoloLow":0.0,"reverseHoloTrend":0.0,"lowPriceExPlus":2.0,"avg1":3.75,"avg7":4.99,"avg30":6.06,"reverseHoloAvg1":0.0,"reverseHoloAvg7":0.0,"reverseHoloAvg30":0.0}}}}'
  recorded_at: Mon, 08 May 2023 17:39:02 GMT
recorded_with: VCR 6.1.0
