---
http_interactions:
- request:
    method: get
    uri: https://api.pokemontcg.io/v2/cards/base1-44
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ad71b20e75d7771f520fbb181bfc740a"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"base1-44","name":"Bulbasaur","supertype":"Pokémon","subtypes":["Basic"],"level":"13","hp":"40","types":["Grass"],"evolvesTo":["Ivysaur"],"attacks":[{"name":"Leech
        Seed","cost":["Grass","Grass"],"convertedEnergyCost":2,"damage":"20","text":"Unless
        all damage from this attack is prevented, you may remove 1 damage counter
        from Bulbasaur."}],"weaknesses":[{"type":"Fire","value":"×2"}],"retreatCost":["Colorless"],"convertedRetreatCost":1,"set":{"id":"base1","name":"Base","series":"Base","printedTotal":102,"total":102,"legalities":{"unlimited":"Legal"},"ptcgoCode":"BS","releaseDate":"1999/01/09","updatedAt":"2022/10/10
        15:12:00","images":{"symbol":"https://images.pokemontcg.io/base1/symbol.png","logo":"https://images.pokemontcg.io/base1/logo.png"}},"number":"44","artist":"Mitsuhiro
        Arita","rarity":"Common","flavorText":"A strange seed was planted on its back
        at birth. Thus, a plant sprouted and now grows with this Pokémon.","nationalPokedexNumbers":[1],"legalities":{"unlimited":"Legal"},"images":{"small":"https://images.pokemontcg.io/base1/44.png","large":"https://images.pokemontcg.io/base1/44_hires.png"},"tcgplayer":{"url":"https://prices.pokemontcg.io/tcgplayer/base1-44","updatedAt":"2023/06/26","prices":{"normal":{"low":0.31,"mid":1.88,"high":9.52,"market":1.88,"directLow":0.44}}},"cardmarket":{"url":"https://prices.pokemontcg.io/cardmarket/base1-44","updatedAt":"2023/06/26","prices":{"averageSellPrice":3.92,"lowPrice":2.89,"trendPrice":9.84,"germanProLow":0.0,"suggestedPrice":0.0,"reverseHoloSell":0.0,"reverseHoloLow":0.0,"reverseHoloTrend":0.0,"lowPriceExPlus":2.89,"avg1":5.75,"avg7":4.16,"avg30":6.07,"reverseHoloAvg1":0.0,"reverseHoloAvg7":0.0,"reverseHoloAvg30":0.0}}}}'
  recorded_at: Tue, 27 Jun 2023 01:11:29 GMT
recorded_with: VCR 6.1.0
