---
http_interactions:
- request:
    method: get
    uri: https://api.pokemontcg.io/v2/cards/neo4-6
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a4c1189897bde268a0b8a184ad4532d1"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"neo4-6","name":"Dark Gengar","supertype":"Pokémon","subtypes":["Stage
        2"],"level":"32","hp":"70","types":["Psychic"],"evolvesFrom":"Dark Haunter","abilities":[{"name":"Deep
        Sleep","text":"As long as any Dark Gengar are in play, a player flips 2 coins
        for each of his or her Pokémon that is Asleep at the end of each turn. If
        either of them is tails, that Pokémon is still Asleep. This power stops working
        if Dark Gengar is Asleep, Confused, or Paralyzed.","type":"Pokémon Power"}],"attacks":[{"name":"Pull
        In","cost":["Psychic","Psychic","Psychic"],"convertedEnergyCost":3,"damage":"30","text":"If
        your opponent has any Benched Pokémon, you may choose 1 of them and switch
        it with the Defending Pokémon (before doing damage or other effects of this
        attack). Either way, the Defending Pokémon is now Asleep."}],"resistances":[{"type":"Fighting","value":"-30"}],"retreatCost":["Colorless","Colorless"],"convertedRetreatCost":2,"set":{"id":"neo4","name":"Neo
        Destiny","series":"Neo","printedTotal":105,"total":113,"legalities":{"unlimited":"Legal"},"ptcgoCode":"N4","releaseDate":"2002/02/28","updatedAt":"2020/09/25
        10:09:00","images":{"symbol":"https://images.pokemontcg.io/neo4/symbol.png","logo":"https://images.pokemontcg.io/neo4/logo.png"}},"number":"6","artist":"Aya
        Kusube","rarity":"Rare Holo","flavorText":"It absorbs the heat in the air
        around it. If you suddenly feel cold, it''s because a Gengar has appeared.","nationalPokedexNumbers":[94],"legalities":{"unlimited":"Legal"},"images":{"small":"https://images.pokemontcg.io/neo4/6.png","large":"https://images.pokemontcg.io/neo4/6_hires.png"},"tcgplayer":{"url":"https://prices.pokemontcg.io/tcgplayer/neo4-6","updatedAt":"2023/05/05","prices":{"1stEditionHolofoil":{"low":295.0,"mid":399.0,"high":419.99,"market":399.95,"directLow":null},"unlimitedHolofoil":{"low":146.56,"mid":148.78,"high":285.5,"market":147.92,"directLow":null}}},"cardmarket":{"url":"https://prices.pokemontcg.io/cardmarket/neo4-6","updatedAt":"2023/05/05","prices":{"averageSellPrice":42.48,"lowPrice":17.5,"trendPrice":41.34,"germanProLow":0.0,"suggestedPrice":0.0,"reverseHoloSell":0.0,"reverseHoloLow":0.0,"reverseHoloTrend":46.87,"lowPriceExPlus":37.0,"avg1":42.0,"avg7":53.75,"avg30":42.09,"reverseHoloAvg1":24.0,"reverseHoloAvg7":44.45,"reverseHoloAvg30":36.93}}}}'
  recorded_at: Fri, 05 May 2023 21:30:18 GMT
- request:
    method: get
    uri: https://api.pokemontcg.io/v2/cards/swshp-SWSH221
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"72a0fceeb75866bf16bb8fb0e057848e"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"swshp-SWSH221","name":"Cyndaquil","supertype":"Pokémon","subtypes":["Basic"],"hp":"60","types":["Fire"],"evolvesTo":["Quilava"],"attacks":[{"name":"Charge
        Energy","cost":["Colorless"],"convertedEnergyCost":1,"damage":"","text":"Search
        your deck for up to 2 basic Energy cards, reveal them, and put them into your
        hand. Then, shuffle your deck."},{"name":"Live Coal","cost":["Colorless"],"convertedEnergyCost":1,"damage":"10","text":""}],"weaknesses":[{"type":"Water","value":"×2"}],"retreatCost":["Colorless"],"convertedRetreatCost":1,"set":{"id":"swshp","name":"SWSH
        Black Star Promos","series":"Sword & Shield","printedTotal":298,"total":287,"legalities":{"unlimited":"Legal","standard":"Legal","expanded":"Legal"},"ptcgoCode":"PR-SW","releaseDate":"2019/11/15","updatedAt":"2023/04/15
        17:00:00","images":{"symbol":"https://images.pokemontcg.io/swshp/symbol.png","logo":"https://images.pokemontcg.io/swshp/logo.png"}},"number":"SWSH221","artist":"Teeziro","rarity":"Promo","flavorText":"Hails
        from the Johto region. Though usually curled into a ball due to its timid
        disposition, it harbors tremendous firepower.","nationalPokedexNumbers":[155],"legalities":{"unlimited":"Legal","standard":"Legal","expanded":"Legal"},"regulationMark":"F","images":{"small":"https://images.pokemontcg.io/swshp/SWSH221.png","large":"https://images.pokemontcg.io/swshp/SWSH221_hires.png"},"tcgplayer":{"url":"https://prices.pokemontcg.io/tcgplayer/swshp-SWSH221","updatedAt":"2023/05/05","prices":{"holofoil":{"low":0.75,"mid":0.89,"high":1.5,"market":0.89,"directLow":null}}},"cardmarket":{"url":"https://prices.pokemontcg.io/cardmarket/swshp-SWSH221","updatedAt":"2023/05/05","prices":{"averageSellPrice":0.55,"lowPrice":0.03,"trendPrice":0.39,"germanProLow":0.0,"suggestedPrice":0.0,"reverseHoloSell":0.0,"reverseHoloLow":0.0,"reverseHoloTrend":0.0,"lowPriceExPlus":0.04,"avg1":0.24,"avg7":0.36,"avg30":0.67,"reverseHoloAvg1":0.0,"reverseHoloAvg7":0.0,"reverseHoloAvg30":0.0}}}}'
  recorded_at: Fri, 05 May 2023 21:30:18 GMT
recorded_with: VCR 6.1.0
