---
http_interactions:
- request:
    method: get
    uri: https://api.pokemontcg.io/v2/cards/?q=set.name:base
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"70d0b094340a76a65637e0b79d440f8b"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"base4-1","name":"Alakazam","supertype":"Pokémon","subtypes":["Stage
        2"],"level":"42","hp":"80","types":["Psychic"],"evolvesFrom":"Kadabra","abilities":[{"name":"Damage
        Swap","text":"As often as you like during your turn (before your attack),
        you may move 1 damage counter from 1 of your Pokémon to another as long as
        you don''t Knock Out that Pokémon. This power can''t be used if Alakazam is
        Asleep, Confused, or Paralyzed.","type":"Pokémon Power"}],"attacks":[{"name":"Confuse
        Ray","cost":["Psychic","Psychic","Psychic"],"convertedEnergyCost":3,"damage":"30","text":"Flip
        a coin. If heads, the Defending Pokémon is now Confused."}],"weaknesses":[{"type":"Psychic","value":"×2"}],"retreatCost":["Colorless","Colorless","Colorless"],"convertedRetreatCost":3,"set":{"id":"base4","name":"Base
        Set 2","series":"Base","printedTotal":130,"total":130,"legalities":{"unlimited":"Legal"},"ptcgoCode":"B2","releaseDate":"2000/02/24","updatedAt":"2022/10/10
        15:12:00","images":{"symbol":"https://images.pokemontcg.io/base4/symbol.png","logo":"https://images.pokemontcg.io/base4/logo.png"}},"number":"1","artist":"Ken
        Sugimori","rarity":"Rare Holo","flavorText":"Its brain can outperform a supercomputer.
        Its intelligence quotient is said to be 5000.","nationalPokedexNumbers":[65],"legalities":{"unlimited":"Legal"},"images":{"small":"https://images.pokemontcg.io/base4/1.png","large":"https://images.pokemontcg.io/base4/1_hires.png"},"tcgplayer":{"url":"https://prices.pokemontcg.io/tcgplayer/base4-1","updatedAt":"2023/06/26","prices":{"holofoil":{"low":14.99,"mid":24.72,"high":159.99,"market":28.73,"directLow":17.62}}},"cardmarket":{"url":"https://prices.pokemontcg.io/cardmarket/base4-1","updatedAt":"2023/06/26","prices":{"averageSellPrice":17.39,"lowPrice":6.0,"trendPrice":19.72,"germanProLow":0.0,"suggestedPrice":0.0,"reverseHoloSell":0.0,"reverseHoloLow":0.0,"reverseHoloTrend":22.63,"lowPriceExPlus":26.0,"avg1":13.0,"avg7":18.86,"avg30":21.28,"reverseHoloAvg1":19.95,"reverseHoloAvg7":22.81,"reverseHoloAvg30":21.3}}},{"id":"base4-2","name":"Blastoise","supertype":"Pokémon","subtypes":["Stage
        2"],"level":"52","hp":"100","types":["Water"],"evolvesFrom":"Wartortle","abilities":[{"name":"Rain
        Dance","text":"As often as you like during your turn (before your attack),
        you may attach 1 Water Energy card to 1 of your Water Pokémon. (This doesn''t
        use up your 1 Energy card attachment for the turn.) This power can''t be used
        if Blastoise is Asleep, Confused, or Paralyzed[...]
