---
http_interactions:
- request:
    method: get
    uri: https://api.pokemontcg.io/v2/cards/col1-33
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"55e1963442ad40f238e4c671c754a12d"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"col1-33","name":"Snorlax","supertype":"Pokémon","subtypes":["Basic"],"hp":"100","types":["Colorless"],"attacks":[{"name":"Layabout","cost":["Colorless","Colorless","Colorless"],"convertedEnergyCost":3,"damage":"","text":"Remove
        all damage counters from Snorlax. Snorlax can''t use Layabout during your
        next turn."},{"name":"Clomp Clomp Clobber","cost":["Colorless","Colorless","Colorless","Colorless"],"convertedEnergyCost":4,"damage":"80","text":"Put
        1 Energy card attached to Snorlax in the Lost Zone."}],"weaknesses":[{"type":"Fighting","value":"×2"}],"retreatCost":["Colorless","Colorless","Colorless","Colorless"],"convertedRetreatCost":4,"set":{"id":"col1","name":"Call
        of Legends","series":"HeartGold & SoulSilver","printedTotal":95,"total":106,"legalities":{"unlimited":"Legal"},"ptcgoCode":"CL","releaseDate":"2011/02/09","updatedAt":"2018/03/04
        10:35:00","images":{"symbol":"https://images.pokemontcg.io/col1/symbol.png","logo":"https://images.pokemontcg.io/col1/logo.png"}},"number":"33","artist":"Kent
        Kanetsuna","rarity":"Rare","flavorText":"Its stomach''s digestive juices can
        dissolve any kind of poison. It can even eat things off the ground.","nationalPokedexNumbers":[143],"legalities":{"unlimited":"Legal"},"images":{"small":"https://images.pokemontcg.io/col1/33.png","large":"https://images.pokemontcg.io/col1/33_hires.png"},"tcgplayer":{"url":"https://prices.pokemontcg.io/tcgplayer/col1-33","updatedAt":"2023/06/26","prices":{"normal":{"low":3.74,"mid":4.94,"high":9.59,"market":8.09,"directLow":2.76},"reverseHolofoil":{"low":9.38,"mid":14.99,"high":40.0,"market":27.51,"directLow":null}}},"cardmarket":{"url":"https://prices.pokemontcg.io/cardmarket/col1-33","updatedAt":"2023/06/26","prices":{"averageSellPrice":8.84,"lowPrice":0.2,"trendPrice":11.51,"germanProLow":0.0,"suggestedPrice":0.0,"reverseHoloSell":0.0,"reverseHoloLow":0.5,"reverseHoloTrend":18.15,"lowPriceExPlus":0.99,"avg1":9.0,"avg7":9.89,"avg30":25.58,"reverseHoloAvg1":4.49,"reverseHoloAvg7":15.77,"reverseHoloAvg30":11.2}}}}'
  recorded_at: Tue, 27 Jun 2023 01:11:27 GMT
[...]
