---
http_interactions:
- request:
    method: get
    uri: https://api.pokemontcg.io/v2/cards/col1-33
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"39b4803bb85fa9a6e81ea133fce7bc03"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"col1-33","name":"Snorlax","supertype":"Pokémon","subtypes":["Basic"],"hp":"100","types":["Colorless"],"attacks":[{"name":"Layabout","cost":["Colorless","Colorless","Colorless"],"convertedEnergyCost":3,"damage":"","text":"Remove
        all damage counters from Snorlax. Snorlax can''t use Layabout during your
        next turn."},{"name":"Clomp Clomp Clobber","cost":["Colorless","Colorless","Colorless","Colorless"],"convertedEnergyCost":4,"damage":"80","text":"Put
        1 Energy card attached to Snorlax in the Lost Zone."}],"weaknesses":[{"type":"Fighting","value":"×2"}],"retreatCost":["Colorless","Colorless","Colorless","Colorless"],"convertedRetreatCost":4,"set":{"id":"col1","name":"Call
        of Legends","series":"HeartGold & SoulSilver","printedTotal":106,"total":106,"legalities":{"unlimited":"Legal"},"ptcgoCode":"CL","releaseDate":"2011/02/09","updatedAt":"2018/03/04
        10:35:00","images":{"symbol":"https://images.pokemontcg.io/col1/symbol.png","logo":"https://images.pokemontcg.io/col1/logo.png"}},"number":"33","artist":"Kent
        Kanetsuna","rarity":"Rare","flavorText":"Its stomach''s digestive juices can
        dissolve any kind of poison. It can even eat things off the ground.","nationalPokedexNumbers":[143],"legalities":{"unlimited":"Legal"},"images":{"small":"https://images.pokemontcg.io/col1/33.png","large":"https://images.pokemontcg.io/col1/33_hires.png"},"tcgplayer":{"url":"https://prices.pokemontcg.io/tcgplayer/col1-33","updatedAt":"2023/05/02","prices":{"normal":{"low":4.75,"mid":6.49,"high":12.99,"market":8.21,"directLow":null},"reverseHolofoil":{"low":10.65,"mid":15.0,"high":40.0,"market":24.63,"directLow":null}}},"cardmarket":{"url":"https://prices.pokemontcg.io/cardmarket/col1-33","updatedAt":"2023/05/02","prices":{"averageSellPrice":70.66,"lowPrice":0.2,"trendPrice":49.19,"germanProLow":0.0,"suggestedPrice":0.0,"reverseHoloSell":20.0,"reverseHoloLow":0.5,"reverseHoloTrend":19.71,"lowPriceExPlus":0.99,"avg1":70.66,"avg7":51.62,"avg30":24.48,"reverseHoloAvg1":20.0,"reverseHoloAvg7":18.34,"reverseHoloAvg30":11.12}}}}'
  recorded_at: Wed, 03 May 2023 05:26:55 GMT
recorded_with: VCR 6.1.0
