---
http_interactions:
- request:
    method: get
    uri: https://api.pokemontcg.io/v2/cards/neo4-6
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"92e75a82cbc1fc351f222d1763b430fd"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"neo4-6","name":"Dark Gengar","supertype":"Pokémon","subtypes":["Stage
        2"],"level":"32","hp":"70","types":["Psychic"],"evolvesFrom":"Dark Haunter","abilities":[{"name":"Deep
        Sleep","text":"As long as any Dark Gengar are in play, a player flips 2 coins
        for each of his or her Pokémon that is Asleep at the end of each turn. If
        either of them is tails, that Pokémon is still Asleep. This power stops working
        if Dark Gengar is Asleep, Confused, or Paralyzed.","type":"Pokémon Power"}],"attacks":[{"name":"Pull
        In","cost":["Psychic","Psychic","Psychic"],"convertedEnergyCost":3,"damage":"30","text":"If
        your opponent has any Benched Pokémon, you may choose 1 of them and switch
        it with the Defending Pokémon (before doing damage or other effects of this
        attack). Either way, the Defending Pokémon is now Asleep."}],"resistances":[{"type":"Fighting","value":"-30"}],"retreatCost":["Colorless","Colorless"],"convertedRetreatCost":2,"set":{"id":"neo4","name":"Neo
        Destiny","series":"Neo","printedTotal":105,"total":113,"legalities":{"unlimited":"Legal"},"ptcgoCode":"N4","releaseDate":"2002/02/28","updatedAt":"2020/09/25
        10:09:00","images":{"symbol":"https://images.pokemontcg.io/neo4/symbol.png","logo":"https://images.pokemontcg.io/neo4/logo.png"}},"number":"6","artist":"Aya
        Kusube","rarity":"Rare Holo","flavorText":"It absorbs the heat in the air
        around it. If you suddenly feel cold, it''s because a Gengar has appeared.","nationalPokedexNumbers":[94],"legalities":{"unlimited":"Legal"},"images":{"small":"https://images.pokemontcg.io/neo4/6.png","large":"https://images.pokemontcg.io/neo4/6_hires.png"},"tcgplayer":{"url":"https://prices.pokemontcg.io/tcgplayer/neo4-6","updatedAt":"2023/05/08","prices":{"1stEditionHolofoil":{"low":295.0,"mid":399.0,"high":419.99,"market":399.95,"directLow":null},"unlimitedHolofoil":{"low":146.56,"mid":148.78,"high":285.5,"market":147.92,"directLow":null}}},"cardmarket":{"url":"https://prices.pokemontcg.io/cardmarket/neo4-6","updatedAt":"2023/05/08","prices":{"averageSellPrice":31.38,"lowPrice":17.5,"trendPrice":40.97,"germanProLow":0.0,"suggestedPrice":0.0,"reverseHoloSell":0.0,"reverseHoloLow":0.0,"reverseHoloTrend":46.87,"lowPriceExPlus":37.0,"avg1":24.9,"avg7":50.59,"avg30":40.47,"reverseHoloAvg1":24.0,"reverseHoloAvg7":44.45,"reverseHoloAvg30":36.93}}}}'
  recorded_at: Mon, 08 May 2023 22:37:19 GMT
[...]
