---
http_interactions:
- request:
    method: get
    uri: https://api.pokemontcg.io/v2/cards/?q=name:gengar*
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"047f10a47099274d57d99ea950efaf66"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"ex12-5","name":"Gengar","supertype":"Pokémon","subtypes":["Stage
        2"],"hp":"100","types":["Psychic"],"evolvesFrom":"Haunter","abilities":[{"name":"Shadow
        Curse","text":"If Gengar would be Knocked Out by damage from an opponent''s
        attack, you may put 3 damage counters on 1 of your opponent''s Pokémon.","type":"Poké-Power"}],"attacks":[{"name":"Cursed
        Reaction","cost":["Psychic"],"convertedEnergyCost":1,"damage":"","text":"Put
        2 damage counters on your opponent''s Pokémon in any way you like. If Gengar
        has any React Energy cards attached to it, put 4 damage counters instead."},{"name":"Super
        Psy Bolt","cost":["Psychic","Psychic","Colorless"],"convertedEnergyCost":3,"damage":"60","text":""}],"weaknesses":[{"type":"Darkness","value":"×2"}],"resistances":[{"type":"Fighting","value":"-30"}],"retreatCost":["Colorless"],"convertedRetreatCost":1,"set":{"id":"ex12","name":"Legend
        Maker","series":"EX","printedTotal":92,"total":93,"legalities":{"unlimited":"Legal"},"ptcgoCode":"LM","releaseDate":"2006/02/01","updatedAt":"2018/03/04
        10:35:00","images":{"symbol":"https://images.pokemontcg.io/ex12/symbol.png","logo":"https://images.pokemontcg.io/ex12/logo.png"}},"number":"5","artist":"Kouki
        Saitou","rarity":"Rare Holo","nationalPokedexNumbers":[94],"legalities":{"unlimited":"Legal"},"images":{"small":"https://images.pokemontcg.io/ex12/5.png","large":"https://images.pokemontcg.io/ex12/5_hires.png"},"tcgplayer":{"url":"https://prices.pokemontcg.io/tcgplayer/ex12-5","updatedAt":"2023/05/01","prices":{"holofoil":{"low":15.0,"mid":17.48,"high":25.93,"market":23.71,"directLow":null},"reverseHolofoil":{"low":63.65,"mid":80.93,"high":101.28,"market":65.5,"directLow":100.04}}},"cardmarket":{"url":"https://prices.pokemontcg.io/cardmarket/ex12-5","updatedAt":"2023/05/01","prices":{"averageSellPrice":6.16,"lowPrice":0.5,"trendPrice":6.38,"germanProLow":0.0,"suggestedPrice":0.0,"reverseHoloSell":0.0,"reverseHoloLow":2.0,"reverseHoloTrend":9.79,"lowPriceExPlus":3.5,"avg1":2.5,"avg7":6.6,"avg30":6.32,"reverseHoloAvg1":3.99,"reverseHoloAvg7":13.07,"reverseHoloAvg30":15.25}}},{"id":"base3-5","name":"Gengar","supertype":"Pokémon","subtypes":["Stage
        2"],"level":"38","hp":"80","types":["Psychic"],"evolvesFrom":"Haunter","abilities":[{"name":"Curse","text":"Once
        during your turn (before your attack), you may move 1 damage counter from
        1 of your opponent''s Pokémon to another (even if it would Knock Out the other
        Pokémon). This power can''t be used if Gengar is Asleep, Confused, or Paralyzed.","type":"Pokémon
        Power"}],"attacks":[{"name":"Dark Mind","cost":["Psychic","Psychic","Psychic"],"convertedEnergyCost":3,"damage":"30","text":"If
        your opponent has any Benched Pokémon, choose 1 of them and this attack does
        10 damage to it. (Don''t apply Weakness and Resistance for Benched Pokémon.)"}],"resistances":[{"type":"Fighting","value":"-30"}],"retreatCost":["Colorless"],"convertedRetreatCost":1,"set":{"id":"base3","name":"Fossil","series":"Base","printedTotal":62,"total":62,"legalities":{"unlimited":"Legal"},"ptcgoCode":"FO","releaseDate":"1999/10/10","updatedAt":"2020/08/14
        09:35:00","images":{"symbol":"https://images.pokemontcg.io/base3/symbol.png","logo":"https://images.pokemontcg.io/base3/logo.png"}},"number":"5","artist":"Keiji
        Kinebuchi","rarity":"Rare Holo","flavorText":"Under a full moon, this Pokémon
        likes to mimic the shadows of people and laugh at their fright.","nationalPokedexNumbers":[94],"legalities":{"unlimited":"Legal"},"images":{"small":"https://images.pokemontcg.io/base3/5.png","large":"https://images.pokemontcg.io/base3/5_hires.png"},"tcgplayer":{"url":"https://prices.pokemontcg.io/tcgplayer/base3-5","updatedAt":"2023/05/01","prices":{"1stEditionHolofoil":{"low":95.0,"mid":125.39,"high":222.75,"market":151.79,"directLow":null},"unlimitedHolofoil":{"low":30.57,"mid":46.36,"high":3000.0,"market":49.64,"directLow":27.0}}},"cardmarket":{"url":"https://prices.pokemontcg.io/cardmarket/base3-5","updatedAt":"2023/05/01","prices":{"averageSellPrice":38.48,"lowPrice":2.9,"trendPrice":35.42,"germanProLow":0.0,"suggestedPrice":0.0,"reverseHoloSell":0.0,"reverseHoloLow":0.0,"reverseHoloTrend":29.47,"lowPriceExPlus":21.95,"avg1":11.2,"avg7":34.4,"avg30":35.83,"reverseHoloAvg1":95.0,"reverseHoloAvg7":31.3,"reverseHoloAvg30":31.56}}},{"id":"neo4-6","nam[...]
